<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<title>Login page</title>
		<link href="<c:url value='/static/css/bootstrap.css' />"  rel="stylesheet"></link>
		<link href="<c:url value='/static/css/app.css' />" rel="stylesheet"></link>
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" />
	</head>

	<body>
		<center>
			<form action="/login?username=username&password=password">
			  username :<br>
			  <input type="text" name="username" hint="username"><br>
			  password :<br>
			  <input type="text" name="password" hint="password"><br><br>
			  <input type="submit" value="Submit">
			</form>
		</center>
	</body>
</html>